/* Test a less compile */
/* Controlled Styling */
/* Mixins */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.shadow-off {
  box-shadow: none !important;
}
.shadow-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.shadow-2 {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.shadow-3 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.shadow-4 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}
.no-select {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pad-05 {
  padding: .5rem;
}
.pad-1 {
  padding: 1rem;
}
.pad-15 {
  padding: 1.5rem;
}
.pad-2 {
  padding: 2rem;
}
.pad-25 {
  padding: 2.5rem;
}
.pad-3 {
  padding: 3rem;
}
.pad-35 {
  padding: 3.5rem;
}
.pad-4 {
  padding: 4rem;
}
.pad-45 {
  padding: 4.5rem;
}
.pad-5 {
  padding: 5rem;
}
.pad-55 {
  padding: 5.5rem;
}
.pad-6 {
  padding: 6rem;
}
.pad-65 {
  padding: 6.5rem;
}
.margin-bot-05 {
  margin-bottom: .5rem;
}
.margin-bot-1 {
  margin-bottom: 1rem;
}
.margin-bot-15 {
  margin-bottom: 1.5rem;
}
.margin-bot-2 {
  margin-bottom: 2rem;
}
.margin-bot-25 {
  margin-bottom: 2.5rem;
}
.margin-bot-3 {
  margin-bottom: 3rem;
}
.margin-bot-35 {
  margin-bottom: 3.5rem;
}
.margin-bot-4 {
  margin-bottom: 4rem;
}
.margin-bot-45 {
  margin-bottom: 4.5rem;
}
.margin-bot-5 {
  margin-bottom: 5rem;
}
.margin-bot-55 {
  margin-bottom: 5.5rem;
}
.margin-bot-6 {
  margin-bottom: 6rem;
}
.margin-bot-65 {
  margin-bottom: 6.5rem;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.block {
  display: block;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
/* Fonts */
.font-bold {
  font-family: 'Arial', sans-serif;
  font-weight: 900;
}
.font-default {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
}
html {
  font-size: 100%;
  line-height: 1.3;
}
body {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Arial', sans-serif;
  font-weight: 900;
}
h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}
h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
h3 {
  font-size: 2.2rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.3rem;
}
h3,
h4,
h5 {
  margin-bottom: 1rem;
}
p {
  margin-bottom: 1.5rem;
}
/* Structure */
.section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  position: relative;
}
.flex-row {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex-column {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.space-between {
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.space-around {
  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
}
.flex-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-nowrap {
  -webkit-flex-wrap: no-wrap;
  -ms-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
}
/* Navigation */
/* Footer */
/* Card Component */
.card {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 1rem;
}
.card,
.card__header,
.card__body,
.card__footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  position: relative;
}
.card__header,
.card__footer,
.card__body {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.card__footer.has-border {
  border-top: 1px solid transparent;
}
/* Default Theme */
.bg-white {
  background: #fff;
  color: #000;
}
.bg-black {
  background: #000;
  color: #fff;
}
.text-white {
  color: #fff;
}
.text-black {
  color: #000;
}
body.theme-default {
  background: #000;
  color: #fff;
}
body.theme-default .card__footer {
  border-color: #ddd;
}
.dancing-banana {
  background: transparent url('https://m.popkey.co/987552/NGLb3.gif') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
