// Shadows
.shadow-off {box-shadow: none !important;}
.shadow-1 {box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);}
.shadow-2 {box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);}
.shadow-3 {box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.shadow-4 {box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);}

// Utility
.clearfix {
	&::after {
    display: block;
    content: "";
    clear: both;
  }
}
.no-select {
	cursor:default;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// Paddings
// @TODO: Make this into a loop, name shorter
.pad-05 {padding:.5rem;}
.pad-1 {padding:1rem;}
.pad-15 {padding:1.5rem;}
.pad-2 {padding:2rem;}
.pad-25 {padding:2.5rem;}
.pad-3 {padding:3rem;}
.pad-35 {padding:3.5rem;}
.pad-4 {padding:4rem;}
.pad-45 {padding:4.5rem;}
.pad-5 {padding:5rem;}
.pad-55 {padding:5.5rem;}
.pad-6 {padding:6rem;}
.pad-65 {padding:6.5rem;}

// Margins
// @TODO: Make this into a loop, name shorter
.margin-bot-05 {margin-bottom:.5rem;}
.margin-bot-1 {margin-bottom:1rem;}
.margin-bot-15 {margin-bottom:1.5rem;}
.margin-bot-2 {margin-bottom:2rem;}
.margin-bot-25 {margin-bottom:2.5rem;}
.margin-bot-3 {margin-bottom:3rem;}
.margin-bot-35 {margin-bottom:3.5rem;}
.margin-bot-4 {margin-bottom:4rem;}
.margin-bot-45 {margin-bottom:4.5rem;}
.margin-bot-5 {margin-bottom:5rem;}
.margin-bot-55 {margin-bottom:5.5rem;}
.margin-bot-6 {margin-bottom:6rem;}
.margin-bot-65 {margin-bottom:6.5rem;}

// Display
.inline {display:inline;}
.inline-block {display:inline-block;}
.block {display:block;}

// Position
.relative {position:relative;}
.absolute {position:absolute;}
.fixed {position:fixed;}

// Text
.text-center {text-align:center;}
.text-right {text-align:right;}
.text-left {text-align:left;}

// Accessibility
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
